<div class="dummy-holder">
    <div class="dummy-left">
        <p>{{ routeOffer.from.description }}</p>
        <p>{{ routeOffer.to.description }}</p>
        <p>{{ routeOffer.repeat }}</p>
        <p>{{ routeOffer.routeDate }}</p>
        <p>{{ routeOffer.routeTime }}</p>
        <p>{{ routeOffer.numberOfSeats }}</p>
        <p>{{ routeOffer.details }}</p>
    </div>

    <div class="dummy-right">
        <p *ngFor="let repeatingDay of routeOffer.repeatDays">{{repeatingDay.day}} -> {{repeatingDay.repeating}}</p>
    </div>
</div>