<div class="row">
        <div class="col-12">
            <div class="text-center center-block image-container">
                <img *ngIf="imgURI" [src]="imgURI" #imageView class="image-contained"/>
            </div>
        </div>
</div>

<div class="row">
    <div class="col-12">
            <div class="text-center center-block">
                    <button type="submit" class="full-button btn btn-primary" (click)="imageInput.click()">{{buttonText}}</button>
                    <input hidden (change)="onImageSelected($event)" #imageInput type="file" accept="image/x-png,image/jpeg"/>
                    
            </div>
    </div>
</div>

