<mat-card class="form-card">
    <mat-card-title>Formular validare</mat-card-title>
    <mat-card-content>
        <form [formGroup]="driverValidationForm" (ngSubmit)="onSubmitValidation()" class="sign-up-form">
            
            <app-image-selector-field #drivingLicense 
                class="form-field"
                buttonText="Upload driving license" 
                formControlName="drivingLicense">
            </app-image-selector-field>
            
            <app-image-selector-field #driverPhoto 
                class="form-field" 
                buttonText="Upload your photo"
                formControlName="driverPhoto">
            </app-image-selector-field>

            <button mat-raised-button color="primary" [disabled]="!driverValidationForm.valid">Finalizare</button>
        </form>
    </mat-card-content>
</mat-card>