<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="text-center center-block">
            <h1 class="d-inline colored-text">Cine suntem?</h1>
        </div>

        <div class="text-center center-block">
            <img class="arrow" src="assets/images/home_arrow.png">
        </div>

    </div>
    <div class="col-md-1"></div>
</div>


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="center-block">
            <p>Proiectul ”Road to Education” este un proiect social creat în regim de voluntariat de către 10 tineri de acțiune răspândiți în București, Cluj și Ploiești.</p>

            <p>
                Nu este o statistică nouă aceea a existenței unei corelații pozitive între problema abandonului școlar (conform Eurostat, Romania este a treia țară din UE cu cel mai ridicat indice al abandonului) și lipsa/ineficiența unor mijloace pentru transportul
                elevilor.
            </p>

            <p>
                Această platformă comunitară de ride-sharing este principala contribuție adusă de proiectul ”Road to Education” pentru adresarea problemei, însă suntem hotărâți să continuăm dezvoltarea și să extindem acțiunile noastre.
            </p>

            <p>Mai jos puteți descoperi membrii echipei noastre și motivația din spatele implicării lor:</p>

        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row centered-container">
    <div class="col-md-3 card-container">
        <div class="card">
            <img class="member-photo" src="assets/images/team/robert-damian.jpg" alt="Damian Robert">
            <div class="container">
                <p class="member-name">Robert Damian</p>
                <p class="title">Software developer</p>
                <p>Cred în șansa tuturor la un viitor fericit, indiferent de trecut.</p>
            </div>
        </div>
    </div>


    <div class="col-md-3 card-container">

        <div class="card">
            <img class="member-photo" src="assets/images/team/cosmin-jardianu.jpg" alt="Damian Robert">
            <div class="container">
                <p class="member-name">Cosmin Jardianu</p>
                <p class="title">Product Owner</p>
                <p>Sunt aici pentru că am un vis. Vreau ca noi toți să trăim într-o Românie altfel. Am decis să am curajul să fac un pas în față și să schimb ceea ce nu îmi place să văd. Adică sărăcie și lipsă de educație.</p>
            </div>
        </div>
    </div>


    <div class="col-md-3 card-container">

        <div class="card">
            <img class="member-photo" src="assets/images/team/mihaela-cotul.jpeg" alt="Damian Robert">
            <div class="container">
                <p class="member-name">Mihaela Cotul</p>
                <p class="title">Social Media and Communication Coordinator</p>
                <p>Sunt aici pentru a arata ca atunci cand o mana de oameni isi pun mintea la contributie, poate iesi ceva frumos si cu un scop nobil.</p>
            </div>
        </div>
    </div>


    <div class="col-md-3 card-container">
        <div class="card">
            <img class="member-photo" src="assets/images/team/vasile-ailene.jpeg" alt="Damian Robert">
            <div class="container">
                <p class="member-name">Vasile Ailene</p>
                <p class="title">Community manager</p>
                <p>Să ajuți fără să aștepți ceva în schimb este singura motivație de care ai nevoie ca azi să fii mai bun decât ieri. Important este să faci asta zilnic!</p>
            </div>
        </div>
    </div>
</div>


<div class="row centered-container">

    <div class="col-md-3 card-container">
        <div class="card">
            <img class="member-photo" src="assets/images/team/marian-salvan.jpg" alt="Damian Robert">
            <div class="container">
                <p class="member-name">Marian Salvan</p>
                <p class="title">Software developer</p>
                <p>Mereu am considerat că educația este cea mai puternică armă pe care un om o poate avea în mână. Fiecare copil trebuie să aibă dreptul și posibilitatea la o educație de calitate. Pentru unii dintre ei poate fi singura șansă la o viață mai
                    bună.</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 card-container">
        <div class="card">
            <img class="member-photo" src="assets/images/team/mada-ciuca.jpeg" alt="Damian Robert">
            <div class="container">
                <p class="member-name">Mădă Ciuca</p>
                <p class="title">Project Wizard</p>
                <p>Cred în puterea educației, aceea de a te înarma cu un buchet de aptitudini pentru viață ... și mai cred în puterea comunității de a fi aproape de cei mai puțin norocoși dintre elevi.</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 card-container">
        <div class="card">
            <img class="member-photo" src="assets/images/team/alexandru-grigore.jpeg" alt="Damian Robert">
            <div class="container">
                <p class="member-name">Alex Grigore</p>
                <p class="title">Designer</p>
                <p>Consider că educația stă la baza personalității și caracterului nostru. Orice persoană trebuie să beneficieze de aceasta, indiferent de circumstanțe.</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 card-container">
        <div class="card">
            <img class="member-photo" src="assets/images/team/florina-truta.jpeg" alt="Damian Robert">
            <div class="container">
                <p class="member-name">Florina Truță</p>
                <p class="title">Promoter</p>
                <p>Consider ca in Romania problema transportului elevilor din zonele defavorizate catre scoala este una mare. Din acest motiv multi elevi aleg sa renunte la a-si continua studiile. Consider ca toti elevii ar trebui sa aiba drepturi egale
                    la educatie indiferent de zona sau familia in care s-au nascut.</p>
            </div>
        </div>
    </div>
</div>