<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="text-center center-block">
            <h1 class="d-inline colored-text">Cine suntem?</h1>
        </div>

        <div class="text-center center-block">
            <img class="arrow" src="assets/images/home_arrow.png">
        </div>

    </div>
    <div class="col-md-1"></div>
</div>


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="center-block">
            <p>Proiectul ”Road to Education” este un proiect social creat în regim de voluntariat de către 10 tineri de acțiune răspândiți în București, Cluj și Ploiești.</p>

            <p>
                Nu este o statistică nouă aceea a existenței unei corelații pozitive între problema abandonului școlar (conform Eurostat, Romania este a treia țară din UE cu cel mai ridicat indice al abandonului) și lipsa/ineficiența unor mijloace pentru transportul
                elevilor.
            </p>

            <p>
                Această platformă comunitară de ride-sharing este principala contribuție adusă de proiectul ”Road to Education” pentru adresarea problemei, însă suntem hotărâți să continuăm dezvoltarea și să extindem acțiunile noastre.
            </p>

            <p>Mai jos puteți descoperi membrii echipei noastre și motivația din spatele implicării lor:</p>

        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row centered-container">
    <div class="col-md-3">
        <div class="card">
            <img class="member-photo" src="assets/images/team/robert-damian.jpg" alt="Damian Robert">
            <div class="container">
                <p class="member-name">Robert Damian</p>
                <p class="title">Ninja</p>
                <p>Kage bunshin no Jutsu!</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <img class="member-photo" src="assets/images/team/cosmin-jardianu.jpg" alt="Damian Robert">
            <div class="container">
                <p class="member-name">Cosmin Jardianu</p>
                <p class="title">Ninja</p>
                <p>Kage bunshin no Jutsu!</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <img class="member-photo" src="assets/images/team/mihaela-cotul.jpeg" alt="Damian Robert">
            <div class="container">
                <p class="member-name">Mihaela Cotul</p>
                <p class="title">Ninja</p>
                <p>Kage bunshin no Jutsu!</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <img class="member-photo" src="assets/images/team/vasile-ailene.jpeg" alt="Damian Robert">
            <div class="container">
                <p class="member-name">Vasile Ailene</p>
                <p class="title">Ninja</p>
                <p>Kage bunshin no Jutsu!</p>
            </div>
        </div>
    </div>
</div>


<div class="row centered-container">
    <div class="col-md-3">
        <div class="card">
            <img class="member-photo" src="assets/images/team/marian-salvan.jpg" alt="Damian Robert">
            <div class="container">
                <p class="member-name">Marian Salvan</p>
                <p class="title">Ninja</p>
                <p>Kage bunshin no Jutsu!</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <img class="member-photo" src="assets/images/team/mada-ciuca.jpeg" alt="Damian Robert">
            <div class="container">
                <p class="member-name">Mădă Ciuca</p>
                <p class="title">Ninja</p>
                <p>Kage bunshin no Jutsu!</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <img class="member-photo" src="assets/images/team/robert-damian.jpg" alt="Damian Robert">
            <div class="container">
                <p class="member-name">Damian Robert</p>
                <p class="title">Ninja</p>
                <p>Kage bunshin no Jutsu!</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <img class="member-photo" src="assets/images/team/robert-damian.jpg" alt="Damian Robert">
            <div class="container">
                <p class="member-name">Damian Robert</p>
                <p class="title">Ninja</p>
                <p>Kage bunshin no Jutsu!</p>
            </div>
        </div>
    </div>
</div>