.custom-button {
    border-radius: 30px;
    background: rgba(130,48,249,1);
    color:white;
    box-shadow: -2px 5px 10px rgba(130,48,249,0.5);
}

.image-container {
    width: 400px;
    height: 300px;
    margin-bottom: 10px;
    position: relative;
}

.image-contained {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-card {
  min-width: 150px;
  max-width: 500px;
  width: 100%; 

  /*center div*/
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.form-field {
  margin-bottom: 20px;
  width: 100%;
  display: block;
}

.full-button {
  background-color: var(--color-3);
  border-radius: 20px;
  color: white;
}

.form-checkbox {
  text-align: left !important;
}