.logo {
    width: 1.5em;
    display: inline-block;
}

.logo-footer {
    width: 20%;
}

.contact-details {
    background-image: url('/../../assets/images/home_BG_2.png');
    background-repeat: no-repeat;
    background-size: auto;
    height: 440px;
    color: white;
}

.col-centered {
    display: flex;
    align-items: center;
  }

.contact-details a {
    color: white;
    text-decoration: underline;
}

.contact-details li {
    margin-bottom: 5px;
}

.media-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.dropdown-item:hover {
    cursor: pointer;
}

.dropdown-item:active {
    background-color: var(--color-3);
}

.custom-link {
    text-decoration: underline;
}

li > span.nav-link {
    cursor: pointer;
}

.navbar-toggler {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.navbar-brand {
    width: 100%;
}