<mat-form-field class="form-field">
        <input matInput type="text" [matAutocomplete]="auto" 
          [formControl]="inputFieldFormControl" [placeholder]="placeholder" />
        <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
          <mat-option *ngFor="let place of suggestedPlaces" [value]="place.description" 
            (onSelectionChange)="optionSelectionChange(place, $event)"
            [matTooltip]="place.description" matTooltipShowDelay="1000">
            <span class="mat-body">{{ place.description }}</span>
          </mat-option>
        </mat-autocomplete>
</mat-form-field>