<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="text-center center-block"> 
            <h1 class="d-inline colored-text">Ce facem?</h1> 
        </div>

        <div class="text-center center-block">
            <img class="arrow" src="assets/images/home_arrow.png">
        </div>

    </div>    
    <div class="col-md-1"></div>
</div>
    

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="text-center center-block">
            <p>Pentru început, am creat platforma Road to Education prin care îi ajutăm pe copii din zonele rurale (și nu numai) care au nevoie de transport gratuit către unitățile școlare.</p>
        
            <p>
                Susținem și promovăm întru totul introducerea de către primării și consilii județene a microbuzelor școlare și a curselor dedicate. 
                Însă, pentru cazurile unde, în prezent, acestea nu există, am vrut să ne aducem aportul în ameliorarea problemei și am ales să facem acest lucru promovând utilizarea mijloacelor alternative de transport.
            </p>

            <p>
                Astfel, punem la dispoziția celor două grupuri de interes: părinții copiilor în nevoie și șoferii doritori a se implica, o platformă online unde se pot înregistra și pot cere/oferi ajutorul. 
                Ne dorim formarea unei frumoase și informate comunități de ride-sharing filantropic. De asemenea, în acest fel, se adaugă un nivel superior de siguranță în desfășurarea activității.
            </p>

            <p>
                O condiție esențială și eliminatorie pentru ca șoferii să aibă acces la platformă este cea de a avea disponibilitatea să ofere transport în mod gratuit beneficiarului/beneficiarilor (elevii).
            </p>

            <p>
                Noi AM ALES să credem în puterea lucrurilor mărunte și în puterea comunității. Platforma a fost lansată la finalul lunii Octombrie și ne permite să găsim acei oameni implicați și inimoși care rezonează ideii noastre de bine.  
            </p>

            <p>
                Crezi că faci parte din ei? Accesează secțiunea <i>Creează cont</i> chiar astăzi și alătură-te! Este în puterea ta și a fiecăruia dintre noi să ajutăm și să facem schimbările pe care ni le dorim în societate.
            </p>

            <p>
                Ai nevoie de ajutor pentru a ajunge la școală? Roagă un părinte să acceseze aceeași secțiune și să creeze un cont pentru elev/pasager.
            </p>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
          
<div class="row">
    <div class="col-md-12">
        <div class="my-4 text-center center-block">
            <a routerLink="/register"><button class="full-button btn btn-primary mr-4">Alătură-te</button></a>
        </div>
    </div>
</div>
   