<div class="row my-4">

        <mat-card class="form-card">
            <mat-card-title class="form-title">Postează o cursă nouă</mat-card-title>
                <mat-card-content>
                    <form [formGroup]="rideOfferForm" (ngSubmit)="onOfferSubmission()" class="sign-up-form">
                        <app-places-autocomplete class="form-field" placeholder="De la" (locationChange)="onLocationSelected($event, 'fromLocation')"></app-places-autocomplete>
            
                        <app-places-autocomplete class="form-field" placeholder="Până la"  (locationChange)="onLocationSelected($event, 'toLocation')"></app-places-autocomplete>
                        
                        <mat-form-field class="form-field">
                            <input matInput [matDatepicker]="datepicker" placeholder="Alege data" formControlName="routeDate">
                            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker></mat-datepicker>
                        </mat-form-field>
            
                        <ngx-timepicker-field class="form-field" formControlName="routeTime"></ngx-timepicker-field>
            
                        <mat-checkbox class="form-field" formControlName="repeat">Repetă</mat-checkbox>
            
                        <section  [hidden]="!rideOfferForm.controls['repeat'].value">
                            <mat-checkbox class="inline-checkbox" formControlName="selectMonday">Mon</mat-checkbox>
                            <mat-checkbox class="inline-checkbox" formControlName="selectTuesday">Tue</mat-checkbox>
                            <mat-checkbox class="inline-checkbox" formControlName="selectWednesday">Wed</mat-checkbox>
                            <mat-checkbox class="inline-checkbox" formControlName="selectThursday">Thu</mat-checkbox>
                            <mat-checkbox class="inline-checkbox" formControlName="selectFriday">Fri</mat-checkbox>
                        </section>
            
                        <mat-form-field class="form-field">
                            <input matInput type="number" formControlName="availableSeats" placeholder="Numărul de locuri"/>
                        </mat-form-field>
            
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Details</mat-label>
                            <textarea matInput matTextareaAutosize matAutosizeMinRows=3 matAutosizeMaxRows=8 formControlName="details"></textarea>
                        </mat-form-field>
            
                        <div class="text-center center-block">
                                <button type="submit" class="full-button btn btn-primary" 
                                        [disabled]="!rideOfferForm.valid || !fromLocation || !toLocation"> Finalizare</button>       
                        </div>
                    
                    </form>
                </mat-card-content>
        </mat-card>
</div>

