.inline-checkbox {
    margin-right: 10px;
}

textarea {
    border: 1px solid #ccc !important;
}

.full-button:disabled {
    background-color: grey;
    border-color: var(--color-3);
}

.full-button:hover {
    background-color: var(--color-2);
}
  