.login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.form-field {
    margin-bottom: 20px;
    width: 100%;
}

.login-card {
    min-width: 150px;
    max-width: 500px;
    width: 100%; 

    /*center div*/
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}