<div class="row my-4">
    <div class="col-md-12">
      <div class="text-center center-block">
          <mat-card class="login-card">

              <mat-card-title class="form-title">Intră în cont</mat-card-title>
              <mat-card-content>
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
                  <mat-form-field class="form-field">
                    <input matInput placeholder="Adresa de email" type="email" formControlName="email">
                    <mat-error *ngIf="loginForm.controls['email'].invalid">{{getEmailErrorMessage()}}</mat-error>
                  </mat-form-field>
                
                  <mat-form-field class="form-field">
                    <input matInput placeholder="Parola" type="password" formControlName="password">
                    <mat-error *ngIf="loginForm.controls['password'].invalid">{{getPasswordErrorMessage()}}</mat-error>
                  </mat-form-field>

                  <div class="form-field">
                      <button type="submit" class="full-button btn btn-primary" [disabled]="!loginForm.valid">Intră în cont</button>
                  </div>

                  <div class="form-field">
                      <a [routerLink]="['/reset-password']"> Resetează parola </a>
                    </div>
  
                </form>
              </mat-card-content>
            </mat-card>
      </div>
    </div>
</div>

