.register-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.register-card {
    min-width: 150px;
    max-width: 500px;
    width: 100%; 

    /*center div*/
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.label-space {
    padding-bottom: 5px;
}