<div class="row my-4">
    <div class="col-12">
        <div class="text-center center-block">
                
    <mat-card class="form-card">
            <mat-card-title class="form-title">Formular validare</mat-card-title>
            <mat-card-content>
                <form [formGroup]="studentValidationForm" (ngSubmit)="onSubmitValidation()" class="sign-up-form">
                    
                    <mat-form-field class="form-field" color="green">
                        <input matInput placeholder="Școala" type="text" formControlName="schoolName"/>
                        <mat-error *ngIf="studentValidationForm.controls['schoolName'].invalid">Numele școlii este obligatoriu</mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="form-field" color="green">
                        <input matInput placeholder="Clasa" type="text" formControlName="className"/>
                        <mat-error *ngIf="studentValidationForm.controls['className'].invalid">Clasa este obligatorie</mat-error>
                    </mat-form-field>
        
                    <app-image-selector-field #gradebook 
                        class="form-field"
                        buttonText="Încarcă imagine carnet vizat" 
                        formControlName="gradebook">
                    </app-image-selector-field>
                    <div class="row my-3">
                        <div class="col-12">
                            <div class="text-center center-block">
                                <button type="submit" class="full-button btn btn-primary" [disabled]="!studentValidationForm.valid">Finalizare</button>
                            </div>
                        </div>
                    </div>            
                </form>
            </mat-card-content>
        </mat-card>
        </div>
    </div>
</div>
    