<div class="row main-section align-items-center justify-content-center">
    <div class="col-md-5">
        <p><b>Educația schimbă vieți! Cu toate acestea, în România, anual, peste 30.000 de copii abandonează școala.</b></p>
        <p>Cum poți acorda de astăzi o șansă la educație copiiilor aflați în pragul abandonului școlar?</p>

        <p class="text-center"><b>Avem două soluții pentru tine!</b></p>
        <ol>
            <li>Aplică pentru a face parte din comunitatea de ride-sharing Road2Education!</li>
        </ol>

        <div class="text-center center-block">
            <button class="full-button btn btn-primary mr-4" (click)="redirectToRegister()">Creează Cont</button>
            <button class="transparent-button btn btn-primary mr-4" (click)="redirectToLogin()">Intră în Cont</button>
        </div>

        <br/>
        <ol start="2">
            <li>Cunoști copii ori localități având probleme legate de transportul școlar? Semnalează-ne problema chiar acum</li>
        </ol>

        <div class="text-center center-block">
            <a routerLink="contact">
                <button class="full-button btn btn-primary mr-4">Contactează-ne</button>
            </a>
        </div>
    </div>

    <div class="col-md-5">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" [src]="youtubeLink | safe" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="text-center center-block">
            <h1 class="d-inline colored-text"> De ce </h1>
            <h1 class="d-inline"> să te alături?</h1>
        </div>

        <div class="text-center center-block">
            <img class="arrow" src="assets/images/home_arrow.png">
        </div>

    </div>
    <div class="col-md-1"></div>
</div>

<div class="row" style="margin-left: 15%; margin-right: 15%;">
    <div class="col-md-4">
        <div class="quote-block">
            <p class="quote-text">
                Copiii sunt singura noastră speranță pentru viitor, iar noi suntem prima speranță pentru prezentul și viitorul lor.
            </p>
            <p class="quote-author">Zig Ziglar</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="quote-block">
            <p class="quote-text">
                Tinerii sunt viitorul, iar viitorul este condus prin educație.
            </p>
            <p class="quote-author">Ioana Aspru</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="quote-block">
            <p class="quote-text">
                Copiii sunt viitorul, dar viitorul depinde de educația lor.
            </p>
            <p class="quote-author">Ovidiu Kerekes</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="center-block">
            <p style="font-weight: bold">Sărăcia. Nepăsarea. Arme care întunecă mult prea devreme și mult prea multe dintre visurile tinerilor.</p>
            <p style="font-weight: bold;">ÎN FIECARE ZI ZECI DE MII DE COPII DIN ROMÂNIA, NU ÎȘI PERMIT SĂ AJUNGĂ LA ȘCOALĂ.</p>

            <p>Aproape jumătate dintre copii din țară (49%) se află în risc de sărăcie sau excluziune socială. (conform studiilor Asociației Salvați Copii)</p>
            <p>
                Conform statisticilor Eurostar din 2018, România este a treia țară cu cel mai crescut procent al abandonului școlar din Uniunea Europeană, cu o rată la nivel general de 16.4% în timp ce valorile cele mai scăzute la nivelul țărilor europene sunt în jur
                de 5%. În particular, în mediul rural, rata înregistrată a abandonului școlar a fost de 26,6%.
            </p>

            <p>ANUAL, aproximativ 30.000 de copii abandonează școala din cauza sărăciei.</p>
            <p>În 2018, 370.893 de copii cu vârsta între 3 - 17 ani nu urmau nicio formă de învățământ (conform rapoartelor Asociației Salvați Copii)</p>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="text-center center-block">
            <h1 class="d-inline">Unde ne situăm în </h1>
            <h1 class="d-inline colored-text">rezolvarea problemei? </h1>
        </div>

        <div class="text-center center-block">
            <img class="arrow" src="assets/images/home_arrow.png">
        </div>

    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="center-block">
            <p>Conform Legii Educației, nr 1/2011, 6% din PIB trebuie alocat pentru Educație. Însă, prin Ordonanță 114 din decembrie 2018, aplicarea acestei prevederi a fost suspendată pentru perioada 2019-2021 (
                <a href="http://anap.gov.ro/web/wp-content/uploads/2019/01/ORDONAN%C5%A2%C4%82-DE-URGEN%C5%A2%C4%82-Nr.-114-2018-din-28-decembrie-2018.pdf" target="_blank">Art 50, pag 33</a>). Astfel, în 2019, avem doar 2.9% din PIB alocat pentru Educație
                ( ultimul loc în Uniunea Europeană).</p>
            <p> Prin intermediul Ordonanței de Urgență nr. 51/2019, transportul județean a fost eliminat din sfera serviciilor publice, fiind reglementat doar ca activitate comercială. Drept urmare, transportatorii de pe raza județelor nu sunt constrânși
                în niciun fel în stabilirea unui preț avantajos, în aplicarea de reduceri pentru elevi și alte categorii dezavantajate ori în operarea pe anumite rute prestabilite (ei putând alege să aibe trasee doar la nivelul rutelor profitabile).</p>

            <p style="font-weight: bold;">ACEASTĂ ORDONANȚĂ CREȘTE SEMNIFICATIV RISCUL DE ABANDON ȘCOLAR ÎN CAZUL A 150.000 DE COPII DIN MEDIUL RURAL, CARE PROVIN DIN FAMILII SĂRACE.</p>
            <p>
                Problema este una majoră acolo unde nu există microbuze ale instituțiilor pentru transportului elevilor. Din această cauză, categoria cea mai vulnerabilă este cea a elevilor de liceu care provin din mediul rural și care fac naveta pentru a merge la liceu,
                în cel mai apropiat oraș.
            </p>

            <p>Un comunicat al Ministerului Educației Naționale din Septembrie 2019, specifică faptul că : ”<i>Guvernul României întreprinde toate demersurile necesare pentru a garanta accesul 
                elevilor la o educație de calitate, asigurând subvenționarea transportului copiilor spre și dinspre unitățile de învățământ, prin decontarea abonamentelor emise elevilor</i>”.
            </p>

            <p>Cu toate acestea, raportându-ne la lipsa microbuzelor de transport școlar în unele zone ale țării (impact asupra claselor primare de gimnaziu), precum și la efectele OUG 51/2019 (impact asupra elevilor de liceu și a celor din ultimele clase
                de gimnaziu), asigurarea dată de către Guvern rămâne pentru mulți elevi doar o promisiune frumoasă.
            </p>

            <p>Dimineața, plecând spre serviciu, ai un loc liber în mașina personală? Înscrie-te pe platformă și verifică dacă ruta tranzitată de tine nu este aceeași cu cea a unui elev în nevoie.</p>
            <p>Viitorul unui copil este acum și în mâinile tale. Cum vei alege să acționezi? <b>Implică-te acum și schimbă în bine viața unui copil!</b></p>

            <p>Ajutorul pe care îl puteți oferi poate fi cuantificat în asigurarea transportului unor elevi prin intermediul platformei sau identificarea copiilor care au nevoie de ajutor și semnalarea lor folosind mijloacele noastre de contact.
            </p>

            <p>
                În plus, printr-un simplu Share pe platformele de social media (facebook, twitter, instagram, etc.), putem duce povestea proiectul mai departe și, sperăm noi, la cât mai mulți copii care au nevoie de el.
            </p>

            <p>
                Mai multe despre acțiunile noastre de până acum, puteți găsi pe paginile noastre de facebook și instagram, disponibile în secțiunea <i>Contact</i>.
            </p>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="my-4 text-center center-block">
            <button class="full-button btn btn-primary mr-4" (click)="redirectToRegister()">Alătură-te</button>
        </div>
    </div>
</div>